.contacts {
  width: 100%;
  padding: 60px 40px;
}

.contacts__wrapper {
  max-width: 1023px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 100px;
}

.contacts__content-container {
  grid-column: 2;
}

.contacts__title {
  align-items: start;

  &::after {
    width: 100px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.contacts__list dt {
  font-family: "NotoSans-SemiBold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
  margin: 0;
  padding: 0;
}

.contacts__list dd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
}

.contacts__social-container h3 {
  font-family: "NotoSans-SemiBold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
}

.contacts__cart {
  grid-column: 1;
  grid-row: 1;
  max-width: 670px;
  height: 100%;
}

.contacts__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contacts__social-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contacts__social-link {
  position: absolute;
  top: 10px;
  left: auto;
  padding: 0;
  margin: 0;
}

.contacts__social-item:first-child .contacts__social-link {
  top: 9px;
  left: 14px;
}

.contacts__social-item:last-child .contacts__social-link {
  left: auto;
}
